{% load i18n %}

<p>
    Existing tags on this article:<br />
    {% if form.instance and form.instance.id %}
        {% for tag in form.instance.tags.all %}
        <span class="badge badge-secondary">{{ tag }}</span>
        {% empty %}
        <small>No tags present on this article</small>
        {% endfor %}
    {% else %}
        <small>No tags present on this article</small>
    {% endif %}
</p>
<hr />
<h4>
    {% trans "Manage Tags" %}
    &nbsp;
    <a href="{% url 'admin:taggit_tag_changelist' %}" style="cursor: pointer; float: right">
        <i class="fa fa-link"></i>
    </a>
</h4>
<form method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <hr />
    <input type="submit" value="Add">
</form>
